#!/bin/bash -e

# install base deps
echo "> Installing eslint & prettier"
npm install -D eslint prettier

# install eslint airbnb peerdeps
echo "> Adding eslint extras"
{% if useReact %}
npx install-peerdeps --dev eslint-config-airbnb
{% else %}
npm install -D eslint-config-airbnb-base eslint-plugin-import
{% endif %}

# install compat for eslint + prettier
echo "> Setting up compatibility layer"
npm install -D eslint-config-prettier eslint-plugin-prettier

# check the security
echo "> Performing security checks"
npm audit fix
echo ""

# eslint config file
echo "> Creating config files"
cat > .eslintrc.js << EOL
{{ eslintrc }}
EOL
echo "+ .eslintrc.js"

# prettier config file
cat > .prettierrc << EOL
{{ prettierrc }}
EOL
echo "+ .prettierrc"

# editorconfig
cat > .editorconfig << EOL
{{ editorconfig }}
EOL
echo "+ .editorconfig"

#
# HINT: pipe this output into your shell:
#       npx @andrewsosa/dev-tools | bash -
#
